       <div class="emptySpace"></div>
       

            <div class="footer"><!--Footer Start-->
                <div class="row">
                    <div class="col-md-12">
                        <div >
                    <a href="#">About</a>
                    <a href="#">Contacts</a>
                    <a href="#">Developers</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                    <span> &copy;2014 Unilynq coperation</span>
                </div>
                    </div>               
                </div>
            </div><!--Footer End-->
            



</div>