<div class="container">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4 form-group">
<form id="forgotPasswordForm" onsubmit="return false;">
	<h4 style="color:#428BCA">Reset your password below</h4>
  <input name="forgot_email_txt" id="forgot_email_txt" class="form-control" placeholder="Email"><br/>

  <div id="password_reset_btn" class="col-md-10"><input type="submit" name="reset_password" id="reset_password" class="btn btn-primary btn-block" value="Reset Password"/></div>
  <div class="col-md-12"><p id="process"></p>
</div>
</form>
</div>
<div class="col-md-4"></div>
</div>
</div> 