    <header>
      <div class="grid main">
        <div class="logo">
          <a ui-sref=".home">
          <img src="./img/UnilynqLogo.png" alt="unilynq"/>
          </a>
        </div>

       <div id="searchBox">
          <input type="search" class="searchfriends" id="searchfriends"><!--<img src="./img/searchblack.png" alt="search" title="search friends" class="searchImg">-->
          <div id="searchResults">
          <div class="resultModule">

          </div>
          </div>
          </div>


        <nav>
          <ul>
              <li><a>Home</a></li>
            <li><a>Video Lectures</a></li>
            <li><a>Class Pictures</a></li>
            <li><a>Forums</a></li>
            <li><a ng-click="logout()">Logout</a></li>
          </ul>
          
        </nav>
      </div>
    </header>