<div class="col-1-3"><div class="module"></div></div>
<div class="col-1-3 module">
		<form submit="submit()" shake-that submitted="submitted" novalidate>
	 <div class="form-group" ng-class="{'has-error': form.email.$invalid && submitted}">

	  <label for="exampleInputPassword1">Email Address | Username</label>
	  <input 
	  type="text" 
	  class="form-control"
	  placeholder="Enter email or Username" 
	  autofocus="" 
	  ng-model="loginData.username"
	  ng-model-options="{updateOn : 'blur'}" 
	  required>
	   
	  </div>
	  
	  <div class="form-group" ng-class="{'has-error': form.email.$invalid && submitted}">
	  <label>Password</label>
	  
	  <input 
	  class="form-control" 
	  type="password"
	  placeholder="password" 
	  ng-model="loginData.password"
	  ng-model-options="{updateOn: 'blur'}"
	  required>

	  </div>

	  <br />

	  <button 
	  type="submit"
	  class="buttonMain">
	  Sign In
	  </button>

	
	</form>

     <a ui-sref=".forgotpass" id="forgotPass">forgot password</a><br />
</div>
<div class="col-1-3 module"></div>
<div class="module">{{ loginMsg }}</div>




