<div class="rightInner">
    <a href="./parsers/friends.php?u=<?php echo $u; ?>"><h4>Friends (<span><?php echo $friend_count; ?><span>)</h4></a>


    <div>
         
        <div class="row" style="padding-left:20px">

         <?php echo $friendsHTML; ?>

    </div>
</div>
 </div>

<!--<div style="width: 100%; height: auto; margin: 0 auto"><hr /></div>-->
<div class="rightInner">
    <h3>Subscribers</h3>


    <div>
         
        <div class="row">

         <div class="row">
         <div class="col-xs-4 ">
         <div>
         <img src="/img/1.jpg" class="dp" />
        </div>
         </div>
             <br />
             <div class="LeftText"><p>Name of subscriber goes here</p></div>
         </div>
           <br /> 

        <div class="row">
             <div class="col-xs-4">
         <div>
         <img src="/img/1.jpg" class="dp" />
        </div>
         </div>
            <br />
             <div class="LeftText"><p>Name of subscriber goes here</p></div>
        </div>

    </div>
</div>
 </div>


                         