          <div ui-view="header"></div>
    
            <!--
             <div >
                <div >
                   <div class="col-md-12">
                        <ul class="nav nav-tabs ">
                        <li class="active"><a ui-sref=".posts">Posts</a></li>
                        <li><a ui-sref=".messages">Messages</a></li>
                        <li><a ui-sref=".pictures">Conversations</a></li>
                        <li><a ui-sref=".friends">Friends</a></li>
                         <li><a ui-sref=".photos">Photos</a></li>
                </ul>
                    </div>
                </div>
            </div>
            -->

  <div class="grid">
    
          
       <br />
    <div class=" mainBody">
      
	      <div class="col-1-3"><!--Left Section Starts here-->
	      <div ui-view="profile_left"></div>
	       </div><!--Left Section Ends Here-->             
                    {{ user.local.fname + " " + user.local.lname}}
                 
                <div class="col-2-3"><!--Middle Starts Here-->
                        
                         <div ui-view="status_template"></div>
                    </div>


                    
        </div>
    </div>        

           
<div ui-view="footer"></div>
