<!DOCTYPE Html>
<html ng-app='unilynq'>
<head>
    <title>Unilynq</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/login.css">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

</head>


<body>


    
  <div ui-view></div>
  <script src="./js/angular.min.js"></script>
  <script src="./js/angular-ui-router.js"></script>
  <script src="./js/angular-animate.min.js"></script>

  <script src="./js/app.js" type="text/javascript"></script>
  <script src="./js/routes/routes.js" type="text/javascript"></script>
  <script src="./js/controllers/index-controller.js"></script>
  <script src="./js/controllers/login-controller.js"></script>
  <script src="./js/controllers/profile-controller.js"></script>
  <script src="./js/controllers/sign-up-controller.js"></script>
  <script src="./js/controllers/password-controller.js"></script>
  <script src="./js/directives/login-view.js"></script>
  <script src="./js/directives/empty.js"></script>


</body>
</html>
