/* General Styles*/

*{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
}


img{
    max-width: 100%;
    height:auto;
}

@font-face
{
font-family: myFirstFont;
src: url(../fonts/AdobeCleanUI-Regular.otf);
} 

header{
    top:0;
    right:0;
    left: 0;
    background: #FFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 2px #CDCDCD;
    position:fixed;
    z-index:5000;
}

.navbar-default .navbar-nav{
    background: #FFF;
}

#bs-example-navbar-collapse-1{
    background: rgb(51, 77, 92);
}


.nav-tabs > li:nth-child(1) > a:nth-child(1) {
    background-color:#428BCA;
    color:#FFF;
    
}

/******NAV TABS CUSTOMIZATION******/
.nav-tabs > li:nth-child(2) > a:nth-child(1){
    background-color: rgb(223,73,73);
    color: #FFF;
}
.nav-tabs > li:nth-child(3) > a:nth-child(1){
    background-color: rgb(226,122,63);
    color: #FFF;
}
.nav-tabs > li:nth-child(4) > a:nth-child(1){
    background-color: rgb(239,201,76);
    color: #FFF;
}
.nav-tabs > li:nth-child(5) > a:nth-child(1){
    background-color: rgb(69,178,157);
    color: #FFF;
}



.activeTab{
    border: none;
}
/*****************END NAV-TABS CUSTOMIZATION*******************/


*{
    -webkit-tap-highlight-color: transparent;
}
body {
    margin:0;
    padding:0;
    font-size: 14px;
    letter-spacing: 0.5px;
    min-width: 480px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    display: block;

    background-color: #f5f5f5;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #555;
 
 }


.mainBody{
    box-sizing: border-box;
    padding: 10px;

    transition: all 0.5s;
   /* color: #646464;*/
    overflow: hidden;
    
    /*background:linear-gradient(#8F5314, #000) repeat scroll 0% 0% transparent;*/
    /*box-shadow:
        0 1px 1px rgba(0,0,0,0.15), 
        0 10px 0 -5px #eee, 
        0 10px 1px -4px rgba(0,0,0,0.15),
        0 20px 0 -10px #eee, 
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
        background: #FFF;*/

        position:relative;

    
}



h1,h2,h3,h4,h5,h6,p{
   text-align: center;
   font-family: Arial,helvetica,sans-serif;


}


.col-md-12 a{
    color: #3498db;
    text-decoration: none;
}


.col-md-12 a:hover,.col-md-12 a:focus{
    color: #308ac6;
}


.emptySpace{
    height: 50px;
    width: 100%;
}

a{
    color: #3498db;
    text-decoration: none;
}


a:hover, a:focus{
    color: #308ac6;
}

.btn-default{
    border-radius: 2px;
    border: 1px solid #bdc3c7;
    font-size: 14px;
    color: #95a5a6;
    padding: 10px 20px;
}

.btn-default:hover{
    background: #FFF;
    color: #3498db;
    border: 1px solid #3498db;
}

.btn:active{
box-shadow: none;
}

/*End*/


/*Header Styles*/
.navbar-brand{
    width: 149px;
    height: 43px;
    padding: 0;
    margin:0;
    
}

/*End*/

/*Navigation*/
.navbar-default{
    border:none;
    padding-top: 15px;
    background: rgb(51, 77, 92);
}
    


.move1{
    margin-bottom: 2px;
    min-height: 40px;
    background:#FFF;

}

.middleContainer{
    padding-top:30px;
    padding-bottom: 30px;
    background:none repeat scroll 0% 0% rgba(255, 255, 255, 0.75)
    padding: 10px;
    border-radius: 10px;
    margin-top:20px;
    min-height: 800px;

}


.rightColumn{
    padding: 10px;
    border-radius: 0 0 10 10px;
    margin-top:30px;
}

.profileInfo{
    /*background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent 40%) repeat scroll 0% 0% transparent;*/
    padding: 0 20px;
}

.ProfileInfoBox{
    
}


.navbar-default .navbar-nav>li>a{
    font-size: 14px;
    text-transform: uppercase;
    color: #428BCA;
    font-weight: 600;
    padding: 11px 0;
    text-align: center;


}

#account>div{
    display: inline-table;

}

#account{
    margin-left:42%;
}


.navbar-default .navbar-nav>#notification,.navbar-default .navbar-nav>#accountInfo{
    text-align: center;
    margin: 0 auto;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
   color: #334D5C;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background:none;
    outline:0;
    color: #428BCA;
}

.navbar-toggle{
    border:none;
    margin-top: 0;
    margin-right:10px;
    text-align: center;
    width: 32px;
    height: 32px;
  
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background:none;
    outline:none;
   
}

.navbar-default .navbar-collapse{
    border:none;
    background: rgba(255,255,255,0.05);
    border-radius: 2px;
    box-shadow: none;
}

.navbar-brand{
    padding-left: 20px;
}

#notification{
    margin-top: 5px;
    
}

#accountInfo{
    margin-top: 5px;
    box-sizing:border-box;
    padding: 3px 10px;
}



/*Navigation End*/


.dp{
   max-width:100%;
   height: auto;
   outline: none;
   border-radius: 3px 3px 3px 3px;
  
   }

.col-md-12 a{
    color: #666666;
}

.nav-tabs{
border-bottom:none;
}

.nav-tabs>li>a:hover{
    background: #428BCA;
    color: #FFF;
}

.innerdiv1{
     
    position:relative;
    text-align: center;
}

.leftContainer{
    padding: 10px;
    border-radius: 10px;
   
   
   
}


.nav-tabs>li>a {
  
  padding: 10px 10px;
  font-weight: bold;
  
}

.innerdiv2{
    text-align:center;
}

.col-md-4{
    padding: 10px;
}

.wrapper{
    width: 80%;
    height: auto;
    margin: 0px auto;
    position:relative;
    top:50px;
}

.footer{
    font-size: 13px;
    height: 30px;
    text-align: center;
    width: 100%;
    bottom: 0;
    background: #FFF;
    margin-top: 1.5em;
}


.rightInner{
    padding: 0 10px;
}

.LeftText{
    margin-top: 7%;
    margin-right: 30%;
}

.footer a,a{
    color: #428BCA;
}

.footer a:hover,a:hover{
    color: #334D5C;
    text-decoration: none;
}

.postShowBtn{margin-left:30%;width:150px;border-radius:5px;background:#428BCA;color:#FFF;border:1px solid #428BCA;}



/***************To be Customized**************/
div#profile_pic_box{width:200px; height:150px; overflow-y:hidden; margin:0px auto;}
div#profile_pic_box > img{z-index:2000; max-width:100%; height:100%;}
div#profile_pic_box > a {
display: none;
position:absolute; 
margin:140px 0px 0px 120px;
z-index:4000;
background:#D8F08E;
border:#81A332 1px solid;
border-radius:3px;
padding:5px;
font-size:12px;
text-decoration:none;
color:#60750B;
}
div#profile_pic_box > form{
display:none;
position:absolute; 
z-index:3000;
padding:10px;
opacity:.8;
background:#F0FEC2;
width:200px;
height:200px;
}
div#profile_pic_box:hover a {
    display: block;
}
img.friendpics{ width:70px; height:60px; margin:2px;}

textarea#statustext{width:600px; height:80px; padding:8px; border:#999 1px solid; font-size:12px;}
div.status_boxes{padding:12px; line-height:1.5em;}
div.status_boxes > div{padding:8px; border:#99C20C 1px solid; background: #F4FDDF;width:75%;margin:0px auto;}
div.status_boxes > div > b{font-size:12px;}
div.status_boxes > button{padding:5px; font-size:12px;}
textarea.replytext{width:80%; height:40px; padding:1%; border:#999 1px solid;}
div.reply_boxes{padding:12px; border:#999 1px solid; background:#F5F5F5;}
div.reply_boxes > div > b{font-size:12px;}


#postImg{max-width:100px;height:auto;}
#toggleComments{float:right;cursor:pointer;}
/*****************END TO BE CUSTOMIZED****************/
#bs-example-navbar-collapse-1{
  background: #FFF;
}




/***********************BREAKPOINTS START*************************/

@media(min-width:760px){
   .navbar-default .navbar-nav{margin-left: 100px;}
   .navbar-default .navbar-nav>li>a{margin:0 10px;}
    .nav-tabs{ margin-left: 10%;}
    .middleContainer{ margin-top: 0px;}
    #account{margin-left:20px;}
}

@media(min-width:992px){
   .nav-tabs{ margin-left: 29%;}
    .btn { padding: 10px 2px}
    .LeftText{margin-top: -20px; margin-right: 0}

@media(min-width:1200px){
   .btn { padding: 10px 13px}
   .nav-tabs{ margin-left:29%;}
   .nav-tabs>li>a {padding: 10px 20px}
   .LeftText{margin-top: -10px; margin-right: 0}
}

@media(min-width:480px){
   
}

/***********************BREAKPOINTS END***********************/


/*************************ACCOUNT SETTINGS START***************************/

#nameEdit{
    padding: 10px;
    margin-top: 5px;
}

.accountSettingsContainer{
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;
    height:auto;
    background: #FFF;
    width:80%;
    margin: 0px auto;
    box-shadow: 2px 2px 2px 2px #CDCDCD;
}

#accountheader{
    border-bottom:1px solid; 
    border-bottom-color: #CDCDCD;
}

div>span{
    
}

#controlBox{
    margin-top:10px;
    border-radius: 5px;
}

#saveBtn{
    color:#FFF;
    background: #b40000;
    border-radius: 3px;
    border: 1px solid #b40000;
    padding:5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 2px #CDCDCD;
    
}

#cancelBtn{
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding:5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 2px #CDCDCD;
    
}

#deactivateBtn{
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding:5px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 2px #CDCDCD;
    
}

#accountSettingscontainer{
    border-radius: 5px;
}



/****************************ACCOUNT SETTINGS END************************/

/*****VIDEO PAGE***********/
#videoContainer{
    width:100%;
    min-height: 800px;
    margin:0px auto;

    
}

#videolistBox{
    width:100%;
    min-height: 500px;
    padding:50px 20px;
    margin:0px auto;
    color:#666;
    text-align: justify;
    line-height: 2;
    overflow-x:hidden;
    background: #ebebeb;
}

#loadWrapper{
    width:300px;
    height: 15px;
    position: relative;
    border:1px solid #CDCDCD;
    background: #CCC;
}

#innerLoader{
    width: 0;
    height:15px;
    background: rgb(195 , 251, 72);
    position:relative;

}

.vidArea{
    padding-top:20px;
    background: #959595;
}

#upload_form{
    padding: 10px;
    background: #95bdd4;
    border:2px dashed #fdc689;
}

input[type="text"], input[type="email"], input[type="password"] {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #DDDDDD;
    font-size: 15px;
    height: 23px;
    margin: 0 0 5px;
    padding: 0 5px;
    
}

/**********END VIDEOS*********/


/*****************MESSAGES*******************/
.hiddenDiv{display:none}
#pmFormProcessGif{display:none}
.msgDefault {font-weight:bold;}
.msgRead {font-weight:100;color:#666;}


/*****************END MESSAGES*******************/


/***********SEARCH TEMPLATE STYLES***********/
.searchfriends{
    background: none repeat scroll 0% 0% transparent;
    border-width: 0px 0px 2px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #737373;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -webkit-border-top-colors: none;
    -webkit-border-right-colors: none;
    -webkit-border-bottom-colors: none;
    -webkit-border-left-colors: none;
    border-image: none;
    box-shadow: none;
    border-radius: 0px;
    vertical-align: bottom;
    width: 333px;
    position: relative;
    top: -2px;
    padding: 3px 6px;
    color: #E18728;

 }

 input[type="search"], input[type="url"], input[type="email"], input[type="text"], input[type="password"], textarea {
    font-family: "Noto Sans",sans-serif;
    outline: 0px none;
  }

  .searchfriends:focus{
    border-bottom-color: #E18728;
  }

  .searchImg{
    width:40px;
    height: 40px;
  }

  div#searchBox{
    width: 363px;
    position:absolute;
    top:0px;
    right:10px;
  }

  #searchResults{
    min-height: 50px;
    max-height: 300px;
    width:333px;
    position: absolute;
    display:none;
    z-index: 1000;
    
 
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;
    padding: 10px;
    text-align: center;
    background: #CCC;
    border-radius:0 0 2px 2px;
    overflow-y: auto; 

  }

  .resultModule{
    height: 60px;
    padding:5px;
    width:100%;
    color: black;
  }

  #dpSearch{
    width:100%;
    height:50px;
   position:relative;
   background: #ddd;

   display:block;
   text-decoration: none;
   color: black;
   border-bottom:1px solid #aaa;
   box-shadow: 3px 2px 10px rgba(0,0,0,0.05) inset;
   padding:10px;

  }

  #dpSearch img{
    max-width:40px;
    height:40px;
    position:absolute;
    top:0;
    left:0;
    margin: 5px;
  }


/*******************END SEARCH****************/